@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&family=Rowdies:wght@300&display=swap');

body{
    margin: 0;
    height: 100vh;
    background-color:black;
    color: white;
    font-family: 'Roboto', sans-serif;
    font-family: 'Rowdies', cursive; 
    
}
.nav-item a{
    color: white;
}
.nav-item a:hover{
    color:red;
}
.height{
    height: 500px;
}
.subscribe{
    color: brown;
    text-decoration: none;
    background-color: white;
}
.h-5{
    min-height: 450px;
}
.profile{
    width: 50%;
    margin: 20px;
    filter:drop-shadow(10px 10px 30px white)
}
.Aboutme{
    min-height: 200px;

}
.card img{
    height: 200px;
}
.title{
    color: red;
    text-align: center;
}
.skilltext{
    text-align: center;
}
.skilltitle{
    color:brown;
}
.skilltitle:hover{
    color: red;

}
.labelpercentage{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}
.percentage{
    color: white;
}
.percentage:hover{
    color: red;
}

.email{
    color: red;
}
.icons {
    color: red;
    
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    justify-content: flex-end;
    margin-top: -105px;
    gap: 30px;
   
}
.subscribe a{
    text-decoration: none;
    
}
